<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>California Housing Price Prediction</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <div class="container mx-auto mt-16 p-8 bg-white rounded-lg shadow-lg max-w-md">

    <h1 class="text-3xl font-bold mb-6 text-center">California House Price Prediction</h1>

    <!-- Main Input Form -->
    <form action="{{ url_for('predict') }}" method="post" class="space-y-4">
      <input type="text" name="longitude" placeholder="Longitude"
        class="input-box w-full p-4 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
      <input type="text" name="latitude" placeholder="Latitude"
        class="input-box w-full p-4 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
      <input type="text" name="House_med_age" placeholder="House Median Age"
        class="input-box w-full p-4 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
      <input type="text" name="total_rooms" placeholder="Total Rooms"
        class="input-box w-full p-4 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
      <input type="text" name="total_bedrooms" placeholder="Total Bedrooms"
        class="input-box w-full p-4 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
      <input type="text" name="population" placeholder="Population"
        class="input-box w-full p-4 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
      <input type="text" name="households" placeholder="Households"
        class="input-box w-full p-4 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">
      <input type="text" name="median_income" placeholder="Median Income"
        class="input-box w-full p-4 border rounded-lg focus:outline-none focus:ring focus:border-blue-300">

      <button type="submit"
        class="btn-primary w-full p-4 text-white bg-blue-500 hover:bg-blue-700 rounded-lg focus:outline-none focus:shadow-outline">
        Predict
      </button>
    </form>

    <div class="mt-8 text-center text-xl font-semibold text-green-700">
      {{ prediction_text }}
    </div>

  </div>

</body>

</html>
